doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/blogstyle.css')
    link(rel='stylesheet', href='../css/nav.css')
    link(rel='icon', href='../images/favicon.ico')
    title Blog
  body.fade-out
    nav.nav
      ul
        li
        a(href='/') Home 
        li 
        a(href='contact') Contact  
        li 
        a(href='projects') Projects  
    header.main-header
      div.main-header-text
        h1 The People's Coding Blog
        p Your go to for all the hot goss from the coding world.
    div.page-wrap
      h1 Write a Blog Post
      form(action='/blog', method='POST')
        div
          h3 Name:
            div
              input(type='text', name='Name', value='Your Name', required=true)
            br
          h3 Title:
            div
              input(type='text', name='Title', value='Post Title', required=true)
            br
          h3 Post: 
            div
              textarea(name='post' rows='20' cols='300', required=true)
          input(type='submit', value='Submit')
        br
        a(href='/post') 
          button.btn Post Message    
      article.article-main
      - for (var i = results.length - 1; i >= 0; --i) {
        p= results[i].body
        h3.article-header=results[i].title
        p.date-time=results[i].created
        p.article-text=results[i].body
      - }  
      //- article.article-main
      //-   h3.article-header Example Post
      //-   p.date-time Written on September 30,2017
      //-   p.article-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      //-   p.article-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      //-   p.article-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(type='text/javascript', src='../js/main.js')
